<!DOCTYPE html>
<html>
<head>
  <title>Social Medias</title>
</head>
<body>
  <div class="container">
    <h2>Social Medias</h2>
    <div class="grid">
      <div class="card">
          <img src="https://cdn-icons-png.freepik.com/256/15707/15707884.png?semt=ais_hybrid">
          <h3>Facebook</h3>
          <ul>
            <li><a href="https://www.facebook.com/TaylorSwift/">Taylor Swift</a></li>
            <li><a href="https://www.facebook.com/onedirectionmusic/">One Direction</a></li>
            <li><a href="https://www.facebook.com/weareoneEXO/">Exo</a></li>
            <li><a href="https://www.facebook.com/seventeennews/">Seventeen</a></li>
            <li><a href="https://www.facebook.com/JYPEStrayKids/">Stray Kids</a></li>
          </ul>
      </div>
      <div class="card">
          <img src="https://cdn-icons-png.flaticon.com/512/124/124021.png">
          <h3>Twitter</h3>
          <ul>
            <li><a href="https://x.com/taylorswift13">Taylor Swift</a></li>
            <li><a href="https://x.com/onedirection">One Direction</a></li>
            <li><a href="https://x.com/weareoneexo">Exo</a></li>
            <li><a href="https://x.com/pledis_17">Seventeen</a></li>
            <li><a href="https://x.com/Stray_Kids">Stray Kids</a></li>
          </ul>
      </div>
      <div class="card">
          <img src="https://cdn-icons-png.freepik.com/256/15707/15707869.png?semt=ais_hybrid">
          <h3>Instagram</h3>
          <ul>
            <li><a href="https://www.instagram.com/taylorswift/">Taylor Swift</a></li>
            <li><a href="https://www.instagram.com/onedirection/">One Direction</a></li>
            <li><a href="https://www.instagram.com/weareone.exo/">Exo</a></li>
            <li><a href="https://www.instagram.com/saythename_17/">Seventeen</a></li>
            <li><a href="https://www.instagram.com/realstraykids/">Stray Kids</a></li>
          </ul>
      </div>
      <div class="card">
        <img src="https://cdn-icons-png.freepik.com/256/15707/15707874.png?semt=ais_hybrid">
        <h3>Youtube</h3>
        <ul>
          <li><a href="https://www.youtube.com/@TaylorSwift">Taylor Swift</a></li>
          <li><a href="https://www.youtube.com/@onedirectionchannel">One Direction</a></li>
          <li><a href="https://www.youtube.com/@weareoneEXO">Exo</a></li>
          <li><a href="https://www.youtube.com/@pledis17">Seventeen</a></li>
          <li><a href="https://www.youtube.com/@StrayKids">Stray Kids</a></li>
        </ul>
    </div>
    <div class="card">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Green-300x300.png">
      <h3>Spotify</h3>
      <ul>
        <li><a href="https://open.spotify.com/artist/06HL4z0CvFAxyc27GXpf02">Taylor Swift</a></li>
        <li><a href="https://open.spotify.com/artist/4AK6F7OLvEQ5QYCBNiQWHq">One Direction</a></li>
        <li><a href="https://open.spotify.com/artist/3cjEqqelV9zb4BYE3qDQ4O">Exo</a></li>
        <li><a href="https://open.spotify.com/artist/7nqOGRxlXj7N2JYbgNEjYH">Seventeen</a></li>
        <li><a href="https://open.spotify.com/artist/2dIgFjalVxs4ThymZ67YCE">Stray Kids</a></li>
      </ul>
  </div>
    </div>
  </div>
</body>
</html>
