<!DOCTYPE html>
<html>
<head>
  <title>Artist</title>
</head>
<body>
  <div class="container">
    <h2>My Favorite Artists</h2>
    <div class="grid">
      <div class="card">
        <img src="https://pbs.twimg.com/media/F8w0rvVXkAAcjAh?format=jpg&name=4096x4096">
        <h3>Taylor Swift</h3>
      </div>
      <div class="card">
        <img src="https://pbs.twimg.com/media/B66oS3kCIAAzmx0?format=jpg&name=small">
        <h3>One Direction</h3>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/564x/09/d7/d2/09d7d21db6fd39f660469ae938c5c9ec.jpg">
        <h3>Exo</h3>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/736x/b1/73/92/b17392bda201abaaf5d3cfc3b084a93e.jpg">
        <h3>Seventeen</h3>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/control/564x/ad/6b/2a/ad6b2a422ab3e64ddb498951cd8ee970.jpg">
        <h3>Stray Kids</h3>
      </div>
    </div>
  </div>
</body>
</html>
