<!DOCTYPE html>
<html>
<head>
  <title>Shows</title>
</head>
<body>
  <div class="container">
    <h2>All Time Favorite Shows</h2>
    <div class="grid">
      <div class="card">
        <img src="https://cdn.gencraft.com/prod/user/024b67dd-d5ff-4103-9495-ce5dfc139ac3/57c62703-0fc4-4d40-b8e7-c33571f37cf1/image/image1_0.jpg?Expires=1729685179&Signature=NkcE5erjCksKyw6QyCTIYykvZ~X3Hpz24dLcB3sE-WYnIK9kEv7wc1jUhGEGdKFQOpCrR4wPAQlg1kp3UNyIgw7PsqEp4UUnFx-8XI7PVyjl~~KrziahcsbqJd9Zl2yvBwi4BK3Cut4uqebRxQAh-BD1gJ68JE76oAc-D8Hve8tJAThVtb1jQ1cr3TVRXUb2Ar-4TKr7JB0Lu7rlVk5mrCPVxx-6uhvGxro5f6PTJlx1fE7oTT4mEb6HVkHhplCGLJPOCU0rgDvOKE9X2ExGA0BLrNSpCQYG3xq1cyiciyCgQcY84pyKk68savivk8giSS0ylLQLdL6Vz~Q6Awib-A__&Key-Pair-Id=K3RDDB1TZ8BHT8">
        <a class="button" href="https://www.viki.com/tv/40093c-exos-travel-the-world-on-a-ladder-in-geojetongyeong"> Exo Ladder </a>
        <p>EXO's travel variety show features the members embarking on fun adventures, with their decisions determined by the ladder game. This twist leads to humorous situations while showcasing their personalities, teamwork, and playful interactions as they explore new places and tackle challenges.</p>
      </div>
      <div class="card">
        <img src="https://ih1.redbubble.net/image.1387172621.9311/tst,small,507x507-pad,600x600,f8f8f8.jpg">
       <a class="button" href="https://www.youtube.com/playlist?list=PLlPEnFOHdW53iPYEK3UGzl8PKrQHt2khR"> Going Seventeen </a>
        <p>SEVENTEEN's variety show features the members engaging in activities based on a specific concept. From games and challenges to skits and get-togethers, the show highlights their chemistry and teamwork, giving fans an entertaining glimpse into their lives.</p>
      </div>
      <div class="card">
        <img src="https://i.etsystatic.com/33946475/r/il/d6f0f5/4072975048/il_300x300.4072975048_jtfm.jpg">
        <a class="button" href="https://www.youtube.com/playlist?list=PL2HLJ87twWI1DhyFxYbQRB4_JLKPIYXli"> SKZ Code </a>
        <p>Stray Kids variety show where the members engage in fun activities based on a theme. From missions and puzzles to role-playing, the show highlights their teamwork and playful dynamics, offering fans a closer look at their personalities and chemistry.</p>
      </div>
    </div>
  </div>
</body>
</html>
